.vscode/
log/
build/
install/

## pycache
__pycache__/
*.pyc
*.pyo
*.pyd

## 학습 모델에 사용한 코드, 데이터셋 모두 제외
model_n_dataset/

## Database Private Key 제외
src/system_monitor/config/defense-db_PrivateKey.json

## 테스트용 코드 모두 제외
src/system_monitor/system_monitor/v1
src/system_monitor/system_monitor/dummy
src/system_monitor/system_monitor/lecture_code_modified
## database 제외
src/system_monitor/db
src/system_monitor/resource
src/system_monitor/config
src/system_monitor/resource
## detection 제외
src/detection/detection/adu_ros_node.py
src/detection/detection/adu.py
src/detection/detection/amr2_gas_sub.py
src/detection/detection/obj_det_depth_dual.py
src/detection/detection/obj_det_depth_old.py
src/detection/detection/obj_det_depth_unknown.py
src/detection/detection/web.py
src/detection/detection/detection.html

## 오래된 UI 파일 제외
src/system_monitor/UI_all_log.html
src/system_monitor/UI_bridge.py
src/system_monitor/UI_flask.py
src/system_monitor/UI.html

## 테스트용 파일 (amr_control)
src/amr_control/amr_control/amr1_rotate_circle.py
src/amr_control/amr_control/amr1_rotate_circle2_time.py
src/amr_control/amr_control/amr1_rotate_circle3_IMU.py
src/amr_control/amr_control/amr1_rotate_circle4_odometry.py
src/amr_control/amr_control/amr1_tracking_aerial_disappear.py
src/amr_control/amr_control/amr1_tracking_aerial_disappear2.py
src/amr_control/amr_control/amr1_tracking_aerial_exception_chk.py
src/amr_control/amr_control/amr1_tracking_aerial_path.py
src/amr_control/amr_control/amr1_tracking_aerial_path copy.py
src/amr_control/amr_control/amr1_tracking_aerial_retracking.py
src/amr_control/amr_control/amr1_tracking_aerial_retracking2.py
src/amr_control/amr_control/amr1_tracking_aerial_rotate.py
src/amr_control/amr_control/amr1_tracking_aerial_rotate_circle.py
src/amr_control/amr_control/amr1_tracking_aerial_rotate_circle2.py

## 테스트용 파일 (detection)
src/detection/detection/amr1_observe_v3_rotate_unconfirmed.py

## db 디렉터리
db/
